[submodule "cscoins"]
	path = cscoins
	url = https://github.com/csgames/cscoins
[submodule "dependencies/rapidjson"]
	path = dependencies/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "dependencies/easywsclient"]
	path = dependencies/easywsclient
	url = https://github.com/dhbaird/easywsclient.git
